<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.wms.mapper.ChartMapper">



    <!--订货报表-->
    <sql id="order_where">
        <where>
            <if test="beginDate!=null">
                and bill.vdate >= #{beginDate}
            </if>
            <if test="endDate!=null">
                and bill.vdate &lt;= #{endDate}
            </if>
            <if test="keywords!=null">
                AND (p.sn LIKE concat('%',#{keywords},'%') or p.name like concat('%',#{keywords},'%'))
            </if>
            <if test="brandId>0">
                and b.id = #{brandId}
            </if>
            <if test="supplierId>0">
                and s.id = #{supplierId}
            </if>
        </where>
    </sql>

    <select id="orderBillChart" resultType="java.util.Map">
        SELECT
        ${groupByType} groupByType,
        sum(item.number) totalNumber,
        sum(item.amount) totalAmount
        FROM orderBillItem item
        JOIN orderbill bill ON item.bill_id = bill.id
        JOIN product p ON item.product_id = p.id
        JOIN brand b ON p.brand_id = b.id
        JOIN employee iu ON bill.inputUser_id = iu.id
        JOIN supplier s ON bill.supplier_id = s.id
        <include refid="order_where"/>
        GROUP BY ${groupByType}
    </select>

    <!--销售报表-->
    <sql id="sale_where">
        <where>
            <if test="beginDate!=null">
                and sa.vdate >= #{beginDate}
            </if>
            <if test="endDate!=null">
                and sa.vdate &lt;= #{endDate}
            </if>
            <if test="keywords!=null">
                AND (p.sn LIKE concat('%',#{keywords},'%') or p.name like concat('%',#{keywords},'%'))
            </if>
            <if test="brandId>0">
                and b.id = #{brandId}
            </if>
            <if test="clientId>0">
                and c.id = #{clientId}
            </if>
        </where>
    </sql>

    <select id="querySaleChart" resultType="java.util.Map">
        SELECT
        ${groupByType} groupByType,
        SUM(sa.number) totalNumber,
        SUM(sa.saleAmount) totalAmount,
        SUM(sa.saleAmount - sa.costAmount) grossProfit
        FROM saleaccount sa
        JOIN employee sm ON sa.saleman_id = sm.id
        JOIN product p ON sa.product_id = p.id
        JOIN client c ON sa.client_id = c.id
        JOIN brand b ON p.brand_id = b.id
        <include refid="sale_where"/>
        GROUP by  ${groupByType}
    </select>

</mapper>