<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.wms.mapper.OrderBillMapper">
    <resultMap id="base_mapper" type="OrderBill">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="vdate" property="vdate"/>
        <result column="status" property="status"/>
        <result column="auditTime" property="auditTime"/>
        <result column="inputTime" property="inputTime"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="totalNumber" property="totalNumber"/>

        <!--单个对象关联-->
        <association property="supplier" javaType="Supplier" columnPrefix="s_">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
        </association>
        <association property="auditor" javaType="Employee" columnPrefix="au_"
                     resultMap="com._520it.wms.mapper.EmployeeMapper.SimpleResultMap">
        </association>
        <association property="inputUser" javaType="Employee" columnPrefix="iu_"
                     resultMap="com._520it.wms.mapper.EmployeeMapper.SimpleResultMap">
        </association>
        <!--集合关联-->
        <collection property="items" ofType="OrderBillItem" column="id"
                    select="com._520it.wms.mapper.OrderBillItemMapper.selectByBillId"></collection>
    </resultMap>

    <sql id="base_column">
		bill.id,bill.sn,bill.vdate,bill.status,bill.totalAmount,bill.totalNumber,bill.inputTime,bill.auditTime,
		s.id AS s_id,s.name AS s_name,
		iu.id AS iu_id,iu.name AS iu_name,
		au.id AS au_id,au.name AS au_name
	</sql>
    <sql id="base_table">
		orderBill bill
  		JOIN supplier s ON bill.supplier_id = s.id
		JOIN employee iu ON bill.inputUser_id = iu.id
		LEFT JOIN employee au ON bill.auditor_id = au.id
	</sql>

    <delete id="delete">
		delete from orderBill where id = #{id}
	</delete>
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
		orderBill
		(sn,auditor_id,vdate,status,auditTime,inputTime,totalAmount,totalNumber,inputUser_id,supplier_id)
		values
		(#{sn},#{auditor.id},#{vdate},#{status},#{auditTime},#{inputTime},#{totalAmount},#{totalNumber},#{inputUser.id},#{supplier.id})
	</insert>
    <update id="update">
		update orderBill
		set
		sn=#{sn},
		vdate=#{vdate},
		totalAmount=#{totalAmount},
		totalNumber=#{totalNumber},
		supplier_id=#{supplier.id}
		where id = #{id}
	</update>
    <update id="updateStatus">
		update orderBill
		set status = #{status},
		auditor_id = #{auditor.id},
		auditTime = #{auditTime}
		where id = #{id}
	</update>
    <select id="get" resultMap="base_mapper">
        select
        <include refid="base_column"/>
        from
        <include refid="base_table"/>
        where bill.id = #{id}
    </select>

    <sql id="conditions_sql">
        <where>
            <if test="supplierId>0">
                AND bill.supplier_id = #{supplierId}
            </if>
            <if test="status>=0">
                and bill.status = #{status}
            </if>
            <if test="beginDate!=null">
                and bill.vdate >= #{beginDate}
            </if>
            <if test="endDate!=null">
                and bill.vdate &lt;= #{endDate}
            </if>

        </where>
    </sql>
    <select id="getTotalCount" resultType="long">
        select count(bill.id)
        from
        <include refid="base_table"/>
        <include refid="conditions_sql"></include>
    </select>
    <select id="getListData" resultMap="base_mapper">
        select
        <include refid="base_column"/>
        from
        <include refid="base_table"/>
        <include refid="conditions_sql"></include>
        limit #{beginIndex},#{pageSize}
    </select>
</mapper>