<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.wms.mapper.SupplierMapper">
	<resultMap id="base_mapper" type="Supplier">
		<id column="id" property="id" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="name" property="name" />
	</resultMap>
	<delete id="delete">
		delete from supplier where id = #{id}
	</delete>
	<insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
		supplier
		(address,phone,name)
		values
		(#{address},#{phone},#{name})
	</insert>
	<update id="update">
		update supplier
		set
		address=#{address},
		phone=#{phone},
		name=#{name}
		where id = #{id}
	</update>
	<select id="get" resultMap="base_mapper">
		select * from supplier where
		id = #{id}
	</select>
	<select id="list" resultMap="base_mapper">
		select * from supplier
	</select>
	<sql id="conditions_sql">
		<where>
		</where>
	</sql>
	<select id="getTotalCount" resultType="long">
		select count(*) from supplier
		<include refid="conditions_sql"></include>
	</select>
	<select id="getListData" resultMap="base_mapper">
		select * from supplier
		<include refid="conditions_sql"></include>
		limit #{beginIndex},#{pageSize}
	</select>
</mapper>