<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd  http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true">

    <bean id="deptService" class="com._520it.wms.service.impl.DepartmentServiceImpl">
        <property name="empMapper" ref="empMapper"/>
        <property name="deptMapper" ref="deptMapper"/>
    </bean>
    <bean id="empService" class="com._520it.wms.service.impl.EmployeeServiceImpl">
        <property name="empMapper" ref="empMapper"/>
        <property name="permissionMapper" ref="permissionMapper"/>
    </bean>
    <bean id="permissionService" class="com._520it.wms.service.impl.PermissionServiceImpl">
        <property name="permissionMapper" ref="permissionMapper"/>
    </bean>
    <bean id="roleService" class="com._520it.wms.service.impl.RoleServiceImpl">
        <property name="roleMapper" ref="roleMapper"/>
    </bean>

    <bean id="systemMenuService" class="com._520it.wms.service.impl.SystemMenuServiceImpl">
        <property name="mapper" ref="systemMenuMapper"/>
    </bean>
    <bean id="brandService" class="com._520it.wms.service.impl.BrandServiceImpl">
        <property name="mapper" ref="brandMapper"/>
    </bean>
    <bean id="supplierService" class="com._520it.wms.service.impl.SupplierServiceImpl">
        <property name="mapper" ref="supplierMapper"/>
    </bean>
    <bean id="productService" class="com._520it.wms.service.impl.ProductServiceImpl">
        <property name="mapper" ref="productMapper"/>
    </bean>
    <bean id="orderBillService" class="com._520it.wms.service.impl.OrderBillServiceImpl">
        <property name="mapper" ref="orderBillMapper"/>
        <property name="itemMapper" ref="orderBillItemMapper"/>
    </bean>
    <bean id="depotService" class="com._520it.wms.service.impl.DepotServiceImpl">
        <property name="mapper" ref="depotMapper"/>
    </bean>
    <bean id="stockIncomeBillService" class="com._520it.wms.service.impl.StockIncomeBillServiceImpl">
        <property name="mapper" ref="stockIncomeBillMapper"/>
        <property name="itemMapper" ref="stockIncomeBillItemMapper"/>
        <property name="productStockService" ref="productStockService"/>
    </bean>

    <bean id="clientService" class="com._520it.wms.service.impl.ClientServiceImpl">
        <property name="mapper" ref="clientMapper"/>
    </bean>
    <bean id="stockOutcomeBillService" class="com._520it.wms.service.impl.StockOutcomeBillServiceImpl">
        <property name="mapper" ref="stockOutcomeBillMapper"/>
        <property name="itemMapper" ref="stockOutcomeBillItemMapper"/>
        <property name="productStockService" ref="productStockService"/>
    </bean>
    <bean id="productStockService" class="com._520it.wms.service.impl.ProductStockServiceImpl">
        <property name="productStockMapper" ref="productStockMapper"/>
        <property name="saleAccountMapper" ref="saleAccountMapper"/>
    </bean>
    <bean id="chartService" class="com._520it.wms.service.impl.ChartServiceImpl">
        <property name="chartMapper" ref="chartMapper"/>
    </bean>
</beans>