<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd  http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true">

    <bean id="departmentAction" class="com._520it.wms.web.action.DepartmentAction" scope="prototype">
        <property name="deptService" ref="deptService"/>
    </bean>
    <bean id="employeeAction" class="com._520it.wms.web.action.EmployeeAction" scope="prototype">
        <property name="empService" ref="empService"/>
        <property name="deptService" ref="deptService"/>
        <property name="roleService" ref="roleService"/>
    </bean>
    <bean id="permissionAction" class="com._520it.wms.web.action.PermissionAction" scope="prototype">
        <property name="permissionService" ref="permissionService"/>
    </bean>
    <bean id="roleAction" class="com._520it.wms.web.action.RoleAction" scope="prototype">
        <property name="roleService" ref="roleService"/>
        <property name="permissionService" ref="permissionService"/>
        <property name="systemMenuService" ref="systemMenuService"/>
    </bean>
    <bean id="loginAction" class="com._520it.wms.web.action.LoginAction" scope="prototype">
        <property name="empService" ref="empService"/>
    </bean>

    <bean id="logoutAction" class="com._520it.wms.web.action.LogoutAction" scope="prototype">
    </bean>

    <bean id="systemMenuAction" class="com._520it.wms.web.action.SystemMenuAction" scope="prototype">
        <property name="service" ref="systemMenuService"/>
    </bean>
    <bean id="brandAction" class="com._520it.wms.web.action.BrandAction" scope="prototype">
        <property name="service" ref="brandService"/>
    </bean>
    <bean id="supplierAction" class="com._520it.wms.web.action.SupplierAction" scope="prototype">
        <property name="service" ref="supplierService"/>
    </bean>
    <bean id="productAction" class="com._520it.wms.web.action.ProductAction" scope="prototype">
        <property name="service" ref="productService"/>
        <property name="brandService" ref="brandService"/>
    </bean>
    <bean id="orderBillAction" class="com._520it.wms.web.action.OrderBillAction" scope="prototype">
        <property name="service" ref="orderBillService"/>
        <property name="supplierService" ref="supplierService"/>
    </bean>
    <bean id="depotAction" class="com._520it.wms.web.action.DepotAction" scope="prototype">
        <property name="service" ref="depotService"/>
    </bean>
    <bean id="stockIncomeBillAction" class="com._520it.wms.web.action.StockIncomeBillAction" scope="prototype">
        <property name="stockIncomeBillService" ref="stockIncomeBillService"/>
        <property name="depotService" ref="depotService"/>
    </bean>

    <bean id="clientAction" class="com._520it.wms.web.action.ClientAction" scope="prototype">
        <property name="service" ref="clientService"/>
    </bean>
    <bean id="stockOutcomeBillAction" class="com._520it.wms.web.action.StockOutcomeBillAction" scope="prototype">
        <property name="service" ref="stockOutcomeBillService"/>
        <property name="depotService" ref="depotService"/>
        <property name="clientService" ref="clientService"/>
    </bean>
    <bean id="productStockAction" class="com._520it.wms.web.action.ProductStockAction">
        <property name="productStockService" ref="productStockService"/>
        <property name="depotService" ref="depotService"/>
        <property name="brandService" ref="brandService"/>
    </bean>
    <bean id="chartAction" class="com._520it.wms.web.action.ChartAction">
        <property name="chartService" ref="chartService"/>
        <property name="brandService" ref="brandService"/>
        <property name="supplierService" ref="supplierService"/>
        <property name="clientService" ref="clientService"/>
    </bean>
</beans>